nav {
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
}

ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

nav ul > li a:hover {
    color: #9c9898;
}

nav > .links {
    order: 1;
}

nav > .logo {
    justify-self: center;
    order: 2;
}

nav > .contacts {
    order: 3;
}

nav > .logo > img{
    max-width: 200px;
}

.links > ul > li a, .contacts > ul > li a {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-style: bold;
    font-size: 16px;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-decoration: none;
}

.contacts > ul > li {
  padding: 0 5px;
}

.links > ul > li, .contacts > ul > li:first-child {
    padding: 0 20px;
}

.contacts > ul {
    justify-content: flex-end;
}

header {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    background: url('../img/katarina-sikuljak-718436-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.right {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    justify-content: center;
    color: #fff;
    align-items: center;
}

.right h1{
    font-weight: 100;
    font-size: 50px;
    margin: 0 0 10px 0;
}

a.book {
    width: 150px;
    background: transparent;
    border: 2px solid #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 8px 15px;
    color: #fff;
}

@media (max-width: 830px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav > .links {
        order: 2;
    }

    nav > .logo {
        justify-self: center;
        order: 1;
    }

    .links > ul > li, .contacts > ul > li:first-child {
        padding: 0 10px;
    }
}