@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i|Oswald:200,300,400,500|Open+Sans:400,600,700|Alex+Brush&display=swap');

html, body {
    color: #000;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}